.flex-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex-container-row{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.documents{
  width: 30%;
  overflow-y: scroll;
  height: 90vh;
  gap: 5px;
}

.gap{
  gap: 5px;
}

.debug-border{
  border: 2px solid red;
}

.full-width{
  width:100%
}

.flex-justify-items-start{
  justify-items: start;
}